.btn-my1{
    width: 300px;
    height: 60px;
    font-size: 100%;
    border-radius: 5px;

}

/* Back-To-Top button CSS code*/

  #button {
    display: inline-block;
    background-color: rgb(59, 232, 255);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }


  /*View all button property*/
  #viewall{
      width: 300px;
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      font-weight: 700;
      background-color: teal;
  }

  #viewall:hover{
      background-color: lightgrey;
      color: black;
  }

  #details-me{
    background-color: white;
    border: 3px solid red;
    color: black;
    font-size: 15px;
    font-weight: 800;
    float: right;
  }

  #details-me:hover{
    background-color: indianred;
    color: white;
  }
