html, body {
  overflow-x: hidden;
}


.btn-groupCustom1{
    text-align: center;
    margin-top: 30px;
}

.navbar1{
    margin-bottom: 0px;
}



.bbb {
  position: relative;
  text-align: center;
  color: white;
  border: 3px solid red;
  }

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
    margin-top: 20px;
  position: absolute;
  top: 8px;
  right: 16px;
  text-align: right;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .cover-div-text{
    background-color: rgba(0, 0, 0, 0.815);
      margin-top: 2px;
      max-width: 630px;
      height: auto;
      color: yellow;
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      font-weight: 700;

  }

  @media screen and (min-width: 800px) {
  .cover-div-text {
    font-size: 40px;
  }

  #mot{
    text-align: center;
    border: 2px solid green;
    width: 200px;
    background-color: yellow;
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-left: 290px;
  }

  #wbr{
    font-size: 25px;
    font-weight: 900;
    color: white;
  }
    #ycg{
      font-size: 15px;
      color: white;
      font-weight: 500;
    }
}

@media screen and (max-width: 801px) {
  .cover-div-text {
    font-size: 25px;
  }
  #mot{
    text-align: center;
    border: 2px solid green;
    width: 130px;
    background-color: yellow;
    color: black;
    font-size: 15px;
    font-weight: 700;
    margin-left: 290px;
  }

  #wbr{
    font-size: 20px;
    font-weight: 900;
    color: white;
  }


    #ycg{
      font-size: 10px;
      color: white;
      font-weight: 500;
    }
}

.bc{
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#bc1{
  background-color: blue;
  color: white;
  border: 2px solid blue;
}
#bc1:hover{
  background-color: white;
  color: black;
}

#bc2{
  background-color: white;
  color: black;
  border: 2px solid green;
}
#bc2:hover{
  background-color: green;
  color: white;
}
  .intro-div{
      background-color: rgba(172, 9, 9, 0.746);
      color: white;
      margin-top: 0px;
      max-width: 650px;
  }

  #knowing-more{
      max-width: 650px;
      padding: 0px;
      margin-top: 2px;
  }


.intro-text{
  text-align: left;
  background-color: grey;
  color: white;
  padding-top: 25px;
}

#t1{
  font-size: 25px;
  font-family: monospace;
  font-weight: 600;
}
